<!DOCTYPE html>
<html>
<head>
	<title>Backbone.js Baby steps</title>
	<link rel="stylesheet" href="css/screen.css">
    <link rel="stylesheet" href="css/jquery-ui-1.10.1.custom.css">
</head>
<body>


<div id="books">
	<form id="addBook" action="#">
		<div><label for="coverImage">CoverImage: </label><input id="coverImage" type="file"/>
			<label for="title">Title: </label><input id="title" type="text"/>
			<label for="author">Author: </label><input id="author" type="text"/>
			<label for="releaseDate">Release date: </label><input id="releaseDate" type="text"/>
			<label for="keywords">Keywords: </label><input id="keywords" type="text"/>
			<button id="add">Add</button>
		</div>
	</form>
</div>


<script type="text/template" id="bookTemplate">
	<img src="<%= coverImage %>" />
	<ul>
		<li><%= title %></li>
		<li><%= author %></li>
		<li><%= $.format.date(new Date(releaseDate), 'dd/MM/yyyy') %></li>
		<li><% _.each(keywords, function(keyobj){%> <%= keyobj %><% }); %></li>
	</ul>
	<button class="delete">Delete</button>
</script>

<script src="js/jquery.js"></script>
<script src="js/jquery-ui-1.10.1.custom.min.js"></script>
<script src="js/jqueryDateFormat.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/app.js"></script>

</body>
</html>